* { padding: 0;
    margin: 0;
}
body {
    font-size: 14px;
    color: #333
}
.khung {
    width: 400px; 
    height: auto; 
    margin: 20px auto; 
    padding: 10px; 
    border: 1px solid #666; 
    border-radius: 4px;
}
.bang-tinh {
    width: calc(100% - 16px); 
    background-color: #f7f8f9; 
    border: 1px solid #666;
    padding: 5px 7px; 
    font-size: 20px; 
    border-bottom: none;
}
.bang-ket-qua {
    width: calc(100% - 16px); 
    background-color: #f9f9f9; 
    border: 1px solid #666; 
    padding: 5px 7px; 
    font-size: 20px; 
    border-top: none; 
    text-align: right;
}
button {
    width: 32.4%; 
    height: 40px; 
    margin-top: 5px; 
    font-size: 20px; 
    color: #fff; 
    border: none; 
    cursor: pointer; 
    border-radius: 4px;
}
.so {
    background-color: #428bca;
}
.phep-tinh {
    background-color: #5cb85c;
}
.lam-moi {
    background-color: #d9534f;
}
.xoa {
    background-color: #f0ad4e;
}
.cham, .bang {
    background-color: #5bc0de;
}